#api-error{
    background-color: red;
    padding: 10px 40px;
    width: 100px;
    position: absolute;
    right: 10px;
    top: 50px;
    font-size: 12px;
    display: none;
}

span{
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 7px;
    color: white;
    border: solid 1px white;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    text-align: center;
    line-height: 8px;
}

.error{
    display: block !important;
}
